main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.true{
  color: green;
}
.false{
  color: red;
}
.cestino{
  color: red;
}
.modifica {
  color: white;
}

