<div class="container">
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary" [routerLink]="['aggAuto']">Aggiungi auto</a>
    <button class="btn btn-primary" (click)="logout()">LOGOUT</button>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <tr *ngFor="let macchina of auto">
          <td>{{ macchina.marca }}</td>
          <td>{{ macchina.prezzo | currency : "EUR" : "symbol" }}</td>
          <td>
            <a [routerLink]="['/post', 'modificaAuto', macchina.id]"
              >MODIFICA</a
            >
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(macchina.id)">
              ELIMINA
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
